.calculadora{
    display: flex;
    gap: 15px;
}


input{
    border-color: rgb(186, 155, 216);
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}

button{
    border: none;
    border-radius: 10px;
    background-color: rgb(197, 142, 248);
}